<div *ngIf="modelComponent.title == 'test-scores-of-students'" class="container">
  <div class="row">
    <div class="col-12">
      <img class="image-kaggle mt-1 mt-lg-0"
        src="https://storage.googleapis.com/kaggle-datasets-images/1334397/2221874/d5e461a4ed030f4bc458cae1fa778ed0/dataset-cover.jpg?t=2021-05-11-15-40-51"
        alt="Dataset image">
    </div>
  </div>

  <div class="row ">
    <div class="col-12">
      <h1>Predict test scores of students</h1>
      <p>Predicting the posttest scores of students from 11 features</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>About Dataset</h2>

      <h3>Context</h3>
      <p>A dataset I found as part of SPSS v23 package and I found it worth sharing here. Let's build machine learning
        algorithms to predict the scores of the students.</p>

      <h3>Content</h3>
      <p>It contains information about a test written by some students. It include features such as: School setting,
        School type, gender, pretest scores among other. Explore the data to know more!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <a href="https://www.kaggle.com/datasets/kwadwoofosu/predict-test-scores-of-students">link to kaggle</a>
    </div>
  </div>
</div>
