<div *ngIf="modelComponent.title == 'test-scores-of-students'" class="container">
    <div class="row">
        <div class="col">
            <img class="image-kaggle" src="https://storage.googleapis.com/kaggle-datasets-images/1334397/2221874/d5e461a4ed030f4bc458cae1fa778ed0/dataset-cover.jpg?t=2021-05-11-15-40-51" alt="Dataset image">
        </div>
    </div>

    <div class="row ">
        <div class="col">
            <h1>Predict test scores of students</h1>
            <p>Predicting the posttest scores of students from 11 features</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="https://www.kaggle.com/datasets/kwadwoofosu/predict-test-scores-of-students">link to kaggle</a>
        </div>
    </div>
</div>
