<div class="container">
    <div class="row justify-content-center" flex>
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Select a dataset to viewer</mat-label>
                <mat-select  (selectionChange)="getModel($event.value)">
                    <mat-option *ngFor="let dataset of datasets" [value]="dataset">
                        {{dataset.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Select a analisy to viewer</mat-label>
                <mat-select (selectionChange)="getAnalysis($event.value)" [disabled]="analysis.length == 0">
                    <mat-option *ngFor="let analysi of analysis" [value]="analysi">
                        {{analysi}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="row" *ngIf="metrics.data.length != 0">
        <div  class="col-12">
            <table mat-table [dataSource]="metrics" class="mat-elevation-z8">
                
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="score">
                    <th mat-header-cell *matHeaderCellDef> Score </th>
                    <td mat-cell *matCellDef="let element"> {{element.score}} </td>
                </ng-container>

                <ng-container matColumnDef="rmsle">
                    <th mat-header-cell *matHeaderCellDef> RMSLE </th>
                    <td mat-cell *matCellDef="let element"> {{element.rmse}} </td>
                </ng-container>

                <ng-container matColumnDef="rmse">
                    <th mat-header-cell *matHeaderCellDef> RMSE </th>
                    <td mat-cell *matCellDef="let element"> {{element.rmse}} </td>
                </ng-container>

                <ng-container matColumnDef="mae">
                    <th mat-header-cell *matHeaderCellDef> MAE </th>
                    <td mat-cell *matCellDef="let element"> {{element.mae}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsMetrics"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsMetrics;"></tr>
            </table>
        </div>
    </div>
</div>
