table {
  width: 100%;
}

.table-plot {
  overflow-x: auto;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  padding: 0.3em 0.3em 0 0.3em;
}

.model-view {
  height: 100%;
  min-height: 100vh;
}

tr.element-row:hover {
  background: whitesmoke;
}
